@charset "UTF-8";
body{
	width:70%;
	height:70%;
	padding:20px;
	margin:0;
	background: url("../images/member.jpg") ;
	background-size:cover;
	background-attachment: fixed;
	background-position: center;
	opacity: 0.5;
	
}

.login i{
	font-size:100px;
	margin: 20px auto; 
}
input[type="text"],input[type="password"] {
	font-size:16px;
	font-family: "微軟正黑體", sans-serif;
	padding: 1px;
	border-radius: 4px;
	margin: 0 auto;
	display: block;
	width:180px;
}


a {
	font-size:16px;
	font-family: "微軟正黑體", sans-serif;
	padding: 200px;
	border-radius: 4px;
	margin: 0 auto;
	display: block;
	width:170px;
}


button {
	border: 0;
	padding: 6px 12px;
	margin: 20px auto;
	font-size: 18px;
	background: white;
	border-radius:10px;
	color: black;
	font-family: "微軟正黑體", sans-serif;
}
@media(max-width:450px){
	.login{
	width:70%;
	}
}