.page { 
	min-height: 200px;
	margin-top:120px;
	margin-bottom:30px;
	overflow: hidden;
}

@media (min-width: 576px) {
	#createBlog .modal-dialog {
		max-width: 1600px;
	}

	#modifyBlog .modal-dialog {
		max-width: 1600px;
	}
}