* {
	font-family: 微軟正黑體;
}

.page {
	overflow: hidden;
}

.prodlist {
	float: left;
	width: 18%;
	min-height: 360px;
	padding: 5px;
	text-align: center;
	margin: 0 auto;
	border: 1px dashed black;
	margin: 1%;
}

.jumbotron {
	position: relative;
	padding: 20px;
}

.jumbotron .username {
	position: absolute;
	right: 10px;
	bottom: 2.5px;
}

.prodlist .prodtitle {
	height: 25px;
	font-weight: bold;
	color: #000;
}

.prodlist img {
	display: block;
	width: 50%;
	height: 200px;
	margin: 0 auto;
}

.btnMargin {
	margin-top: 10px;
}

@media ( max-width : 960px) {
	.prodlist {
		width: 31%;
	}
}

@media ( max-width : 600px) {
	.prodlist {
		width: 48%;
	}
}